@font-face {
  font-family: "HYWenHei-85W";
  src: url("../extrafiles/GENSHIN.ttf");
}

@font-face {
  font-family: "JetbrainsMono-Regular";
  src: url("../extrafiles/JET.ttf");
}
 
:root {
  --md-text-font: "HYWenHei-85W";
  --md-code-font: "JetbrainsMono-Regular";
}