name: 'IndexNow'
on:
  schedule:
    # Set the schedule time
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  check-and-submit:
    runs-on: ubuntu-latest
    steps:
      - name: indexnow-action
        uses: bojieyang/indexnow-action@v2
        with:
          sitemap-location: 'https://codezpc.github.io/WBSXS-WIKI/sitemap.xml'
          key-location: ${{ secrets.INDEXNOW_KEY_LOCATION }}
          key: ${{ secrets.INDEXNOW_KEY }}
