name: 'IndexNow'
on:
  schedule:
    # Set the schedule time
    - cron: '0 9 * * *'
  workflow_dispatch:
    inputs:
      参数名:
        description: 参数描述

jobs:
  check-and-submit:
    runs-on: ubuntu-latest
    steps:
      - name: indexnow-action
        uses: bojieyang/indexnow-action@v2
        with:
          sitemap-location: 'https://codezpc.github.io/WBSXS-WIKI/sitemap.xml'
          key: ${{ secrets.INDEXNOW_KEY }}
